body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}

.submit_button{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark{
  .padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Header */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase{
  min-height: 400px;
  background:url('../img/snow.jpg') no-repeat 0 -100px;
  text-align: center;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 25px;
  color: #ffffff;
}

/* Newsletter */
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  position: relative;
  float: top;
  width: 115px;
  height:115px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Canvases */

/* #canvases{
  margin-top: 20px;
}

#canvases .canvas{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
} */

/* Places */
#places{
  background-color: 	#A9A9A9;
}

#places .box{
  float: left;
  text-align: center;
  padding: 10px;
}

#places .box img{
  position: relative;
  float: top;
  width: 300px;
  height:300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sidebar */
aside#sidebar{
  float: right;
  width: 30%;
}

/* Main-col */
article#main-col{
  float: left;
  width: 100%;
}



section#main{
    background: #808080;
    text-align: center;
}

#main h2{
  font-size: 25px;
  margin-bottom: 10px;
}

#main p{
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 70px;
}

canvas#nextPiece{
  position: absolute;
  margin-left: 10px;
}

div#scoreText{
  margin-top: -50px;
  margin-bottom: -25px;
}

div#next{
  position: relative;
  margin-left: 300px;
}

#darkMode{
  position: relative;
  color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


footer{
  padding:20px;
  margin-top: 0;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
